@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #13193a;
    margin: 0;
    padding: 0;
}

.Bg {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the background stays behind other content */
}

.Bg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    opacity: 0.5; /* Adjust the opacity as needed */
}

.container {
    position: static;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.h1 {
    margin-top: 0;
}
.instruction {
    color: #666;
    font-style: italic;
    margin-bottom: 10px;
}
.report-textbox {
    width: 100%;
    height: 400px;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Style for the custom file input label */
.custom-file-input {
    background-color: #060c35; /* Green background color */
    color: aliceblue; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Add cursor pointer */
    border-radius: 10px; /* Add border-radius for rounded corners */
    display: inline-block; /* Display as inline block */
    margin-bottom: 10px;
    transition-property: background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out ;
    margin-top: 10px;
}
.custom-file-input:hover {
    background-color: #424fa1; 
}
.file-input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
    display: none;
}

#file-names {
    margin-top: 10px; /* Adjust spacing as needed */
}

#file-names span {
    display: inline-block;
    margin-right: 8px; /* Adjust spacing between file names */
    padding: 5px 10px;
    background-color: aliceblue; /* Background color of file name */
    color: #060c35; /* Text color */
    border-radius: 5px; /* Rounded corners */
}

.PFN {
    color: #666;
    opacity: 0.8;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #060c35;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out ;
}
.submit-button:hover {
    background-color: #424fa1;
}

.Office { 
    margin: 10px;
    padding-bottom: 10px;
}